@media (max-width: 768px) {
  .barralateral {
      /* Estilos específicos para pantallas pequeñas */
      padding: 5px 0;
  }

}

@media (max-width: 390px) {
  .barralateral {
      /* Estilos específicos para pantallas pequeñas */
      padding: 5px 0;
      position: sticky;
  }

}
